<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="http://localhost:8080/store">Back</a>

<div style="text-align: center;">
  <h1>ALL CATEGORIES</h1> </br>
</div>

<table style="margin-right: auto;margin-left: auto">
  <thead>
  <tr>
    <th>Categories</th>
    <th>See items</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="categories : ${allcategories}">
    <tr>
      <td th:text="${categories}"></td>
      <td>
        <form action="/store/categories/items" method="get">
          <input type="hidden" name="category" th:value="${categories}">
          <input type="submit" value="View">
        </form>
      </td>
    </tr>

  </th:block>
  </tbody>

</table>

</body>
</html>