<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</br>
<a href="http://localhost:8080/store">Continue Shopping!</a>
</br></br></br>

<div style="text-align: center;">
    <h1>MY CART</h1> </br>
</div>


<table style="margin-right: auto;margin-left: auto">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Change</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="items : ${cart}">
        <tr>
            <td th:text="${items.name}"></td>
            <td th:text="${items.price} + Sek"></td>
            <td th:text="${items.amount} + pcs"></td>
            <td>
                <form action="/changecartamount" method="post">
                    <input type="hidden" name="updatecartitem" th:value="${items.name}">
                    <input type="text" size="8" name="amount" value="new amount">
                    <input type="submit" value="Select">
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div style="text-align: center;">
    </br>
    Total cost: <th:block th:text="${totalsum}"></th:block>
    </br>

    <p>
        If you want to continue with the purchase,
        press the button below. We will start working on it!
    </p>


    <form action="/store/cart/purchase" method="post">
        <input type="submit" value="View">
    </form>


</div>

</body>
</html>